.page-layout-wrapper {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "contact-list-wrapper contact-card-wrapper"
    "footer footer";
  grid-template-rows: 140px 500px;
  grid-template-columns: 300px 1fr;
}

.page-header {
  grid-area: header;
}

.contact-list-wrapper {
  grid-area: contact-list-wrapper;
}

.contact-card-wrapper {
  border: 1px solid;
  grid-area: contact-card-wrapper;
}

.main {
  border: 1px solid purple;
  grid-area: main;
}

footer {
  grid-area: footer;
}

.page-layout-wrapper .page-header {
  min-height: 80px;
  background-color: #e1e1e1;
  border: 10px solid yellow;
  padding: 6px;
}

header a {
  color: #2d4b94;
}

.page-layout-wrapper article {
  flex-grow: 1;
  overflow: auto;
  background-color: lightgray;
  padding: 6px;
  display: flex;
  justify-content: center;
}

.main {
  width: 986px;
  border: 1px solid gray;
}

.page-layout-wrapper footer {
  min-height: 80px;
}
